

<mat-card *ngIf="authStore.user$ | async as user">
  <mat-card-content>
    <p>email: {{ user.email }}  </p>
    <p>name:  {{ user.name }}  </p>
    <p>role:  {{ user.role }}  </p>
    <p>account create date: {{ user.createDate | date : 'dd.MM.yyyy' }}  </p>

    <button class="width-full"
            mat-raised-button color="warn"
            (click)="removeMe()"
            matTooltip="Delete my profile and all my data permanently."
            aria-label="remove me and my data button">
      Remove me and my data
    </button>

  </mat-card-content>
</mat-card>

<br>

<ng-container *ngIf="(featureFlagStore.featureFlags$| async) as featureFlags">

  <table mat-table [dataSource]="featureFlags"
         matSort
         [trackBy]="trackByFeature" class="mat-elevation-z2">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <ng-container matColumnDef="feature">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Feature</th>
      <td mat-cell *matCellDef="let element">{{ element.feature }}
      </td>
    </ng-container>

    <ng-container matColumnDef="flag">
      <th mat-header-cell *matHeaderCellDef   class="center" >Is active</th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle class="toggle-right"
                          [color]="'primary'" (change)="onChangeItem(element)"
                          [(ngModel)]="element.flag"></mat-slide-toggle>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</ng-container>
