

<mat-card *ngIf="authStore.user$ | async as user">
  <mat-card-content>
    <p>email: {{ user.email }}  </p>
    <p>name:  {{ user.name }}  </p>
    <p>role:  {{ user.role }}  </p>
    <p>account create date: {{ user.createDate | date : 'dd.MM.yyyy' }}  </p>

    <button class="width-full"
            mat-raised-button color="warn"
            (click)="removeMe()"
            matTooltip="Delete my profile and all my data permanently."
            aria-label="remove me and my data button">
      Remove me and my data
    </button>

  </mat-card-content>
</mat-card>
