<div>

  <ng-container *ngIf="(abosStore.abos$ | async) as abos">

    <div>
      <button mat-fab color="primary"
              (click)="onAdd()"
              aria-label="Example icon button with a delete icon">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <table mat-table [dataSource]="abos"
           matSort
           [trackBy]="trackById" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title</th>
        <td mat-cell *matCellDef="let element">

          <mat-form-field>
            <input matInput [(ngModel)]="element.title" (ngModelChange)="onModelChange(element)">
          </mat-form-field>
        </td>
        <td mat-footer-cell *matFooterCellDef> Total yearly costs active Abos</td>

      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input type="number" matInput [(ngModel)]="element.price" (ngModelChange)="onModelChange(element)">
          </mat-form-field>
        </td>
        <td mat-footer-cell *matFooterCellDef> {{ abosStore.abosTotalYearlyPrice$ | async | currency }}</td>
      </ng-container>

      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef> Period</th>
        <td mat-cell *matCellDef="let element">

          <mat-form-field>
            <mat-select [(ngModel)]="element.period" (ngModelChange)="onModelChange(element)">
              @for (item of Object.keys(Period); track item) {
                <mat-option [value]="item">{{ item }}</mat-option>
              }
            </mat-select>
          </mat-form-field>


        </td>
        <td mat-footer-cell *matFooterCellDef> -</td>
      </ng-container>

      <ng-container matColumnDef="starteDate">
        <th mat-header-cell *matHeaderCellDef>Start date</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="element.startDate"
                   (dateChange)="onModelChange(element)">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
        <td mat-footer-cell *matFooterCellDef> -</td>
      </ng-container>

      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Active</th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle
            (change)="onModelChange(element)"
            [color]="'primary'"
            [(ngModel)]="element.active">
          </mat-slide-toggle>
        </td>
        <td mat-footer-cell *matFooterCellDef> {{ abosStore.abosActive$ | async }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon (click)="onRemove(element)" color="warn">delete</mat-icon>
        </td>
        <td mat-footer-cell *matFooterCellDef> -</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

    </table>
  </ng-container>


  <br>
</div>
