:root {
  --main-nav-height: 48px;
  --main-content-padding:       3em;
  --main-content-width:         calc(100% - var(--side-nav-width) - 2 * var(--main-content-padding));
  --main-content-full-width:    calc(100% - 2 * var(--main-content-padding));
  --main-content-heigth:        calc(100% - 2 * var(--main-content-padding) - var(--main-nav-height));
  --main-content-trasition:     all 500ms ease-in;
  --lane-entry-size:            160px;
  --lane-info-background-color: rgba(0, 0, 0, 0.8);
}

#main-content {
  left:             0;
  /*position:         fixed;*/
  /*overflow-y:       scroll;*/
  min-width:        var(--main-content-full-width);
  height:           var(--main-content-heigth);
  background-color: var(--surface-color);
  padding:          var(--main-content-padding);
  transition:       var(--main-content-trasition);
  display:          flex;
  flex-direction:   column;
}

#main-content.main-content-margin-right {
  margin-right: calc(var(--side-nav-width) + 1px);
  transition:   var(--main-content-trasition);
  width:        var(--main-content-width);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

