<div id="landing-container">
  <div class="landing-image-container">

    @if (viewPortService.isMobile()) {
      <img class="image-landing"
           src="assets/mabos-logo-small.webp"
           alt="landing page image" title="landing page image">
    } @else {
      <img class="image-landing"
           src="assets/mabos-logo.webp"
           alt="landing page image" title="landing page image">
    }
  </div>

  <div class="fancy-text">
    <h1>
      <span class="special-words">Start</span>
      <span>tracking your subscription expenses </span>
      <span class="special-words">now!</span>
    </h1>
  </div>

  <div class="center-features">
    <span class="down-text">features</span>
    <button mat-icon-button (click)="scrollToFeatures()" aria-label="scroll down to features overview button">
      <mat-icon color="primary">keyboard_double_arrow_down</mat-icon>
    </button>
  </div>
</div>


<section id="features-container">



  <div class="center-features" (click)="click()" (keyup.enter)="click()" tabindex="0" (swipeleft)="nextFeature()" (swiperight)="previousFeature()">

    <div class="dots">
      <span *ngFor="let feature of features; let i = index" [class.active-dot]="i === currentIndex">•</span>
    </div>


    <ng-container *ngIf="currentIndex === 0">

      <h2 class="down-text">Costs control</h2>


      <div class="feature-table">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="feature">
          <td mat-cell *matCellDef="let element"> {{ element.feature }} </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: ['feature'];"></tr>
      </table>
      </div>



      <img class="image-feature"
           src="assets/feature-view-1.png"
           title="landing page feature section image"
           alt="landing page feature section image">

    </ng-container>

    <ng-container *ngIf="currentIndex === 1">

      <h2 class="down-text">Expense grouping</h2>


      <div class="feature-table">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <ng-container matColumnDef="feature">
            <td mat-cell *matCellDef="let element"> {{ element.feature }} </td>
          </ng-container>

          <tr mat-row *matRowDef="let row; columns: ['feature'];"></tr>
        </table>
      </div>



      <img class="image-feature"
           src="assets/feature-view-1.png"
           title="landing page feature section image"
           alt="landing page feature section image">

    </ng-container>

    <button class="subscribe-btn" mat-flat-button color="warn" (click)="notImplemented()" aria-label="subscribe to mabos button">subscribe</button>

  </div>
</section>
