<div class="no-scroll"
     style="display: flex; justify-content: center; margin-top: 6rem; align-items: center">

  <img *ngIf="breakPointObserver.isMatched([Breakpoints.Small, Breakpoints.XSmall])" class="landing" src="assets/mabos-logo-small.webp"
       alt="landing page image">
  <img *ngIf="!breakPointObserver.isMatched([Breakpoints.Small, Breakpoints.XSmall])" class="landing" src="assets/mabos-logo.webp"
       alt="landing page image">
</div>

<div class="fancy-text">
  <span class="special-words">Start</span>
  <span>tracking your subscription expenses </span>
  <span class="special-words">now!</span>
</div>

