
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>My Abos</mat-card-title>
    <mat-card-subtitle>Overview</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item><span>Yearly Costs: 1200.00.- </span></mat-list-item>
      <mat-list-item><span>Monthly Costs: 100.00.-  </span></mat-list-item>
      <mat-list-item><span>Total Abos: 7</span></mat-list-item>
      <mat-list-item><span>Total active Abos: 5  </span></mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>

    <mat-icon color="primary">notifications_active</mat-icon>
    <mat-icon color="primary">notifications_off</mat-icon>
    <button mat-button>Disable Reminders</button>
    <button mat-button>Activate Reminders</button>
  </mat-card-actions>
</mat-card>
