<mat-accordion >
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>My expenses</mat-panel-title>
    </mat-expansion-panel-header>

    <p>Costs per year:           <span class="align-decimal">{{ abosStore.abosTotalYearlyPrice$ | async | number:'1.2-2' }}.-</span></p>
    <p>Costs per month:          <span class="align-decimal">{{ abosStore.abosTotalMonthlyCosts$ | async | number:'1.2-2' }}.-</span></p>

    <p><mat-divider></mat-divider></p>

    <p>Subscriptions in total:            <span class="align-decimal">{{ abosStore.abosCount$ | async }}</span></p>
    <p>Active subscriptions:              <span class="align-decimal">{{ abosStore.abosActive$ | async }}</span></p>

  </mat-expansion-panel>
</mat-accordion>
<br>

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenStateChart = true"
                       (closed)="panelOpenStateChart = false">
    <mat-expansion-panel-header>
      <mat-panel-title>My monthly expenses chart</mat-panel-title>
    </mat-expansion-panel-header>

    <p>Costs per month:          <span class="align-decimal">{{ abosStore.abosTotalMonthlyCosts$ | async | number:'1.2-2' }}.-</span></p>

    <app-abos-chart></app-abos-chart>

  </mat-expansion-panel>
</mat-accordion>
