<header>
  <mat-toolbar color="primary" class="sticky-toolbar">

    <mat-toolbar-row>
      <button *ngIf="aboStore.aboSelection$ | async" mat-icon-button (click)="back()" aria-label="back to home button">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <span *ngIf="aboStore.aboSelection$ | async"> {{ aboStore.selectedItemFg?.value['title'] }} </span>
      <img *ngIf="(aboStore.aboSelection$ | async) === null" src="./assets/icons/icon-128x128.png" alt="Mabos Logo" class="logo">
      <span *ngIf="(aboStore.aboSelection$ | async) === null" class="custom-margin-right">Mabos</span>

      <span class="example-spacer"></span>

      <button *ngIf="authStore.isLoggedIn$ | async" [matMenuTriggerFor]="menu" mat-icon-button aria-label="menu button">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div *ngIf="authStore.user$ | async as user" mat-menu-item>
          <span [routerLink]="'/profile'">{{ user.email }}</span>
        </div>
        <button (click)="logout()" mat-menu-item aria-label="logout button">
          <mat-icon>logout</mat-icon><span>Logout</span>
        </button>
      </mat-menu>
      <button *ngIf="authStore.isLoggedOut$ | async" (click)="login()" mat-icon-button aria-label="login button">
        <mat-icon>login</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

</header>

<main class="content">
  <router-outlet></router-outlet>
</main>
