<ng-container *ngIf="abosStore.selectedItemFg">

  <form [formGroup]="abosStore.selectedItemFg " class="mat-elevation-z8">

    <mat-card id="test">

      <mat-card-content>
        <!-- TITLE -->
        <mat-form-field appearance="outline" class="width-full">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Spotify Premium" formControlName="title">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>


        <div class="width-full toggler">
          <!-- ACTIVE -->
          <mat-slide-toggle class="width-full" [color]="'primary'" style="width: 220px;" formControlName="active">
            {{ isTrue('active') ? 'deactivate' : 'activate' }} abo

          </mat-slide-toggle>
        </div>
        <!-- IS EXP. THIS MONTH -->
        <!-- IS AUTO RENEWAL -->
        <div class="width-full toggler">
          <mat-slide-toggle class="width-full" [color]="'primary'" formControlName="isAutoRenewal">
            {{ isTrue('isAutoRenewal') ? 'deactivate' : 'activate' }} auto renewal
          </mat-slide-toggle>
        </div>


        <!-- PRICE -->
        <mat-form-field appearance="outline" class="width-full">
          <mat-label>Price</mat-label>
          <input type="number" matInput placeholder="22.50" formControlName="price">
        </mat-form-field>

        <!-- PERIOD -->
        <mat-form-field appearance="outline" class="width-full">
          <mat-label>Period</mat-label>
          <mat-select formControlName="period" placeholder="Week">
            @for (item of Object.keys(Period); track item) {
              <mat-option [value]="item">{{ item | period }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <!-- START DATE -->
        <mat-form-field appearance="outline" class="width-full" style="margin-bottom: 0.75rem">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="11.24.2023" formControlName="startDate">
          <mat-hint>dd.mm.yyyy</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <!-- DESCRIPTION -->
        <mat-form-field appearance="outline" class="width-full">
          <mat-label>Description</mat-label>
          <mat-label>Textarea</mat-label>
          <textarea matInput placeholder="for my dog" formControlName="description"></textarea>
        </mat-form-field>


        <div class="width-full toggler">

          <!-- EXP. REMINDER  -->
          <mat-slide-toggle [color]="'primary'" formControlName="expReminder"> {{ isTrue('expReminder') ? 'deactivate' : 'activate' }} email reminders </mat-slide-toggle>
        </div>

        <!-- EXP. REMINDER PERIOD AMOUNTS -->
        <mat-form-field appearance="outline" class="width-full">
          <mat-label>Send email</mat-label>
          <input type="number" matInput placeholder="1" formControlName="expReminderPeriodAmounts">
        </mat-form-field>


        <!-- EXP. REMINDER PERIOD -->
        <mat-form-field appearance="outline" class="width-full">
          <mat-label></mat-label>
          <mat-select formControlName="expReminderPeriod" placeholder="Week">
            @for (item of Object.keys(Period); track item) {
              <mat-option [value]="item">{{ item | period }} before expiring</mat-option>
            }
          </mat-select>
        </mat-form-field>


        <button class="width-full" mat-raised-button color="warn" (click)="removeMe()">Remove me</button>


        <!-- <pre>{{ selectedItemFg.value | json }}</pre> -->

      </mat-card-content>
    </mat-card>
  </form>

</ng-container>
