
<ng-container *ngIf="!breakpointObserver.isMatched([Breakpoints.XSmall, Breakpoints.Small])">
  <app-dashboard-overview></app-dashboard-overview>
  <br>
</ng-container>
<app-dashboard-main></app-dashboard-main>

<ng-container *ngIf="breakpointObserver.isMatched([Breakpoints.XSmall, Breakpoints.Small])">
  <!-- on add, remove the other stuff - only for mobile view... -->
  <button mat-fab color="warn" class="add-button"
          aria-label="add item button">
    <mat-icon>add</mat-icon>
  </button>
</ng-container>


<ng-container *ngIf="!breakpointObserver.isMatched([Breakpoints.XSmall, Breakpoints.Small])">
  <br>
  <app-dashboard-detail></app-dashboard-detail>
</ng-container>

