<div class="row">
  <mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Costs</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <mat-list-item> {{ abosStore.abosTotalYearlyPrice$ | async | currency:'CHF ' }} yearly costs  </mat-list-item>
      <mat-list-item> {{ abosStore.abosTotalMonthlyCosts$ | async | currency:'CHF ' }} monthly costs </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Abo counts and expirations</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <mat-list-item>{{ abosStore.abosCount$ | async }} total abos </mat-list-item>
      <mat-list-item>{{ abosStore.abosActive$ | async }} total active abos</mat-list-item>
      <mat-list-item>{{ abosStore.abosTotalExpiringThisMonth$ | async }} abos expiring this month</mat-list-item>
    </mat-list>
  </mat-card-content>

  <mat-card-actions>

    <ng-container *ngIf="(authStore.user$ | async) as item">
      @if (item.sendEmailReminders) {
        <span (click)="onDisableReminder(item)">
            <mat-icon color="primary">notifications_active</mat-icon>
            <button mat-stroked-button color="primary">Disable Reminders</button>
          </span>
      }
      @if (!item.sendEmailReminders) {
        <span (click)="onActivateReminder(item)">
             <mat-icon color="warn" >notifications_off</mat-icon>
              <button mat-stroked-button color="warn">Activate Reminders</button>
          </span>
      }
    </ng-container>
  </mat-card-actions>
</mat-card>
</div>
