<ng-container *ngIf="(abosGroupedByTagsAndMonthlyCosts$ | async) as data">

  <ng-container *ngIf="data.size > 0">
    <div style="display: block; max-width: 25rem">
      <canvas baseChart
              [options]="chartOptions"
              [type]="chartType"
              [data]="chartData"
              [legend]="chartLegend">
      </canvas>
    </div>


    <br>

    <div class="chart-legend">
      <ng-container *ngFor="let tag of tagsWithColors">
        <span class="chart-legend-item">
          <span class="tag-dot" [style.background-color]="tag.color"></span>
          {{ tag.name | tag }}
        </span>
      </ng-container>
    </div>
  </ng-container>
</ng-container>


