<main class="main">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img src="./assets/mabos-logo-1.png" alt="Mabos Logo" title="Mabos logo" class="logo">
      <span>Mabos</span>

      <button *ngIf="authStore.isLoggedIn$  | async" [routerLink]="'/dashboard'"     mat-icon-button><mat-icon>dashboard</mat-icon></button>
      <button *ngIf="authStore.isLoggedIn$  | async" [routerLink]="'/abos'"          mat-icon-button><mat-icon>category</mat-icon></button>
      <button *ngIf="authStore.isLoggedIn$  | async" [routerLink]="'/abos-reactive'" mat-icon-button><mat-icon>egg</mat-icon></button>
      <button *ngIf="authStore.isLoggedIn$  | async" [routerLink]="'/abos-fancy'"    mat-icon-button><mat-icon>egg_alt</mat-icon></button>
      <div *ngIf="(aboStore.abosTotalExpiringThisMonth$  | async) as totalExpiring" [matBadge]="totalExpiring" matBadgeColor="warn" class="demo-section">abos expiring this months</div>

      <span class="example-spacer"></span>


      <ng-container *ngIf="(authStore.user$  | async) as user">
         {{ user.email }}
      </ng-container>
      <button mat-icon-button (click)="raiseMessage()"><mat-icon>share</mat-icon></button>

      <button *ngIf="authStore.isLoggedOut$ | async" (click)="login()"               mat-icon-button><mat-icon >login</mat-icon></button>
      <button *ngIf="authStore.isLoggedIn$  | async" (click)="logout()"              mat-icon-button><mat-icon >logout</mat-icon></button>

    </mat-toolbar-row>
  </mat-toolbar>
</main>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
