.sticky-toolbar {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo {
  height: 35px;
  width: 35px;
  margin-right: 0.75rem;
}

.example-spacer {
  flex: 1 1 auto;
}

.custom-margin-right {
  margin-right: 0.75rem;
}


/* Basic styling for content */
.content {
  margin: 56px auto 20px; // top (left, right, bottom)
  padding: 1.5rem;
  max-width: 100%; /* Use full width on smaller screens */
  box-sizing: border-box; /* Ensures padding does not affect the set width */
  overflow-x: scroll;
}

/* Responsive design adjustments */
@media (max-width: 768px) { /* For tablets and below */
  .content {
    margin-bottom: 10px;
    padding: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) { /* For landscape tablets and small desktops */
  .content {
    width: 80%; /* Slightly narrower width for medium screens */
  }
}

@media (min-width: 1025px) { /* For desktops */
  .content {
    width: 60%; /* Optimal reading width for large screens */
  }
}
