.landing {
  border-radius: 30%;
  max-width: 80%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

.spin-animation {
  animation: spin 3s ease-in-out;
  overflow-x: hidden;
  overflow-y: hidden;
}

.no-scroll {
  overflow-x: hidden;
  overflow-y: hidden;
}

.special-words {
  font-size: x-large;
  font-weight: bold;
  font-style: initial;
  margin-right: 0.4rem;
}

.animated-text span {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 4rem;
  opacity: 0.1;
  animation: fade-in 0.5s forwards;
  color: #d74e14;
  font-size: xxx-large;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
