
<div style="display: flex; justify-content: center; margin-top: 6rem; align-items: center; height: 100%">
<img class="landing" src="assets/mabos-logo-1.png"
     alt="landing page image" [class.spin-animation]="isSpinning" (click)="startSpin()">
</div>


<div class="animated-text" *ngIf="triggerStartTextAnimation">
  <span *ngFor="let word of text; let i = index" [style.animation-delay]="i * 0.4 + 's'">
    @if (['start', 'now!'].includes(word.toLowerCase())) {
      <span class="special-words">{{ word }}</span>
    } @else {
      {{ word }}
    }
    <!-- add space after each word -->
    <span> </span>

  </span>
</div>
